In [1]:
import pandas as pd

In [2]:
file = "data/daily_report/03-27-2020.csv"
df = pd.read_csv(file)
df.head()

,Province_State,Country_Region,Last_Update,Lat,Long_,Confirmed,Deaths,Recovered,Active
0,South Carolina,US,3/27/20 22:14,34.223334,-82.461707,4,0,0,0
1,Louisiana,US,3/27/20 22:14,30.295065,-92.414197,8,1,0,0
2,Virginia,US,3/27/20 22:14,37.767072,-75.632346,2,0,0,0
3,Idaho,US,3/27/20 22:14,43.452658,-116.241552,54,0,0,0
4,Iowa,US,3/27/20 22:14,41.330756,-94.471059,1,0,0,0

In [7]:
state_sum = df.groupby(['Province_State'])
state_sum